@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wrapper{
	background: #fff;
	width: 750px;
	height: 1334px;
	margin: 0 auto;
}
body{
	background: #cacaca;
	font-family: 'Arial';
}

.header{background: #439317;
	width: 750px;
	height: 71px; /*101*/
	color: #fff;
	font-size: 40px;
	 text-align:center;
	padding-top: 30px;
}

.reword{
	height: 186px;
	background-color: #24301d;
}

.reword-btn{
	width: 191px;
	height: 94px;
	color: white;
	background-color: #7f7f7f;
	cursor: pointer;
	font-size: 25px;
	float: right;
	position:absolute;
	-webkit-border-radius:5px;
    -moz-border-radius:10px;
    margin-left: 533px;
    top: 144px;
}
.touch-btn{
		width: 157px;
	height: 153px;
	color: white;
	background-color: #216a0d;
	cursor: pointer;
	font-size: 25px;
	float: right;
	position:absolute;
	-webkit-border-radius:100px;
    -moz-border-radius:10px;
    margin-left: 555px;
    top: 343px;
}
.background{
	height: 920px;
	background-color: #1e1e1e;
}

i {
	font-family: 'FontAwesome';
	 font-style:normal;
	 font-size:50px;

}

.cards{
	background-color: #1e1e1e;
	background-image:url("image/card.png");
}

.menu{
	width: 750px;
	height: 131px;
	/*background-image:url("image/menu.png");*/
     font-size:25px;
     background-color: #292929;
     cursor: pointer;

}
a:link{
	text-decoration:none;
	color: #979797;
}


a:visited{
	text-decoration:none;
	color: #979797;
}
a:hover {
	color: white;
}
.menu-1{
	padding-top: 20px;
	width: 143px;
	height: 112px;
	
	float: left;
	text-align: center;
	margin-left: 6px;
}


.baht{
	width: 320px;
	height: 244px;
	 margin-left: 70px;
	 float: left;
	 color: white;
	 font-size: 30px;
}

.baht-btn{
width: 191px;
	height: 94px;
	color: white;
	background-color: #7f7f7f;
	cursor: pointer;
	font-size: 30px;
	float: left;

	-webkit-border-radius:5px;
    -moz-border-radius:10px;
	margin-top: 5px;
	margin-left: 80px;
   

}
.register{
	margin-top: 10px;
	width: 300px;
	height: 244px;
  	text-align: right;
	float: left;
	color: #24730e;
	 font-size: 25px;
	   
}

.register-btn{
width: 191px;
	height: 94px;
	color: white;
	background-color: #7f7f7f;
	cursor: pointer;
	font-size: 30px;
	float: left;
	-webkit-border-radius:5px;
    -moz-border-radius:10px;
    margin-top: 20px;
    margin-left: 30px;

}

/*------------------------*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(-180deg);
		cursor: pointer;
	}


.flip-container, .front, .back {
	width: 750px;
	height: 500px;
	top: 288px;
	position: absolute;

	
}

/* flip speed goes here */
.flipper {
	transition: 0.01s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);

}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	
}

.scannow{
	width: 750px;
	height: 200px;
	/*top: 295px;*/
	position: absolute;
	background-color: red;
	background-color: #1e1e1e;
	color: white;
	font-size: 40px;
	text-align: center;
}

.ac-page a{ 
    color: white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 700px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    height: 370px;
    top: 910px;
    left: 929px;
    font-size: 50px;

    
}

.dropdown-content a {
	
    color:#0a98fb;
    padding: 30px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
 
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/*-------------------------*/

#loader {
  position: absolute;

  z-index: 1;
  width: 750px;
  height: 1334px;
 
  background-image: url('../image/download.png');
}

#myDiv {
  display: none;
  text-align: center;
}